<div class="container py-5">
    <div class="d-flex justify-content-center">
      <nav class="nav">
        <a class="nav-link px-3 fs-5 fw-semibold text-primary" [routerLink]="'/data-generation'">Data Generation</a>
        <a class="nav-link px-3 fs-5 fw-semibold text-primary" [routerLink]="'/data-processing'">Data Processing</a>
        <a class="nav-link px-3 fs-5 fw-semibold text-primary" [routerLink]="'/file-upload'">File Upload</a>
        <a class="nav-link px-3 fs-5 fw-semibold text-primary" [routerLink]="'/student-management'">Student Mgmt</a>
        <a class="nav-link px-3 fs-5 fw-semibold text-primary" [routerLink]="'/report-and-export'">Student Report & Export</a>
      </nav>
    </div>
  </div>
